{
    "editor.fontSize": 21,
    "files.autoSave": "afterDelay",
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "prettier.tabWidth": 2,
    "editor.formatOnSave": true,
    "eslint.autoFixOnSave": true,
    "eslint.alwaysShowStatus": true
 }